@font-face {
  font-family: "TWKEverett";
  font-weight: 100;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Thin.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 200;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Ultralight.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 300;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Light.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 400;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Regular.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 500;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Medium.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 600;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Super.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 700;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Bold.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 800;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Extrabold.woff") format("woff");
}
@font-face {
  font-family: "TWKEverett";
  font-weight: 900;
  font-style: normal;
  src: url("./font/woff/TWKEverett-Black.woff") format("woff");
}